# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=6dd5839f-82de-42fd-94e0-5bc53c66f689

    # Set to true to disable all reporting
    B:opt-out=false
}


